#divTabla {
    margin: 2rem;
}

.tablaDT{
    width:100%;
}

.tablaDT thead {
    background: linear-gradient(0deg, rgba(159,220,93,1) 0%, rgba(159,220,93,1) 35%, rgba(252,220,129,1) 100%);
    color: #33363a;
}

.page-item.active .page-link {   
    background-color: #9fdc5d !important;
    border-color: #9fdc5d !important;
}

.page-link {    
    color: #33363a !important;
}

.editar {
    color: #59a309;
}

.eliminar {
    color:#c8414b;
}

.iconoTabla:hover{
    font-size:larger;
}

i {
    margin-right: 0.5rem;
}