@{
    ViewBag.Title = "NutriBuddy";
}
<div style="margin: 3rem 12rem; padding: 2rem 5rem; background: linear-gradient(0deg, rgba(159,220,93,1) 0%, rgba(159,220,93,1) 35%, rgba(252,220,129,1) 100%); border-radius: 40px; ">
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: space-evenly; align-items: flex-start; } ">
        <div>
            <img src="~/Content/Img/SobreMiImg.jpg" alt="Esta soy yo, Laura" style=" border-radius: 50%; border: solid 6px #33363a; -webkit-box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 44%); box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 44%);" />
        </div>
        <div style=" margin-left: 3rem;">
            <h2 style="font-family: 'Nunito', serif; font-weight: 800; font-size: 3rem; color: #34373a; text-shadow: 2px 2px 2px #b7b7b7;">Acerca de NutriBuddy</h2>
            <p style="font-family: 'Nunito', serif; color: #34373a;">
                ¡Hola! Mi nombre es Laura Álvarez Jiménez, soy estudiante del grado de ingeniería informática en la Universidad Rey Juan Carlos en Móstoles (Madrid) y la creadora de NutriBuddy.
            </p>
            <h5 style="font-family: 'Nunito', serif; font-weight: 800; color: #34373a;">¿Qué es NutriBuddy?</h5>
            <p style="font-family: 'Nunito', serif; color: #34373a;">
                NutriBuddy es mi proyecto de fin de grado, es un proyecto propuesto por mi misma como tema de trabajo, por lo que está hecho desde cero con mucha ilusión y cuidando todos los detalles.
                Tenía claro que quería hacer una aplicación web desde que empece a pensar en realizar mi TFG pero tras pensar en diversas temáticas al final opté por la de la nutrición y el bienestar de las personas.
            </p>
            <p style="font-family: 'Nunito', serif; color: #34373a;">
               Como pequeña introducción a los aspectos tecnológicos de la aplicación he de decir que esta desarrollada en .NET Framework y es un proyecto MVC. Para las vistas se ha usado javascript y jquery junto con html y css.
               En la parte inferior de está página se hace una mayor descripción de la tecnología y de todas las librerías y recursos utilizados.
            </p>
        </div>
    </div>
    <div>
        <hr />
        <h5 style="font-family: 'Nunito', serif; font-weight: 800; color: #34373a;">¿Por qué escogí esta temática para mi TFG?</h5>
        <p style="font-family: 'Nunito', serif; color: #34373a;">
            NutriBuddy es mi proyecto de fin de grado, es un proyecto propuesto por mi misma como tema de trabajo, por lo que está hecho desde cero con mucha ilusión y cuidando todos los detalles.
            Tenía claro que quería hacer una aplicación web desde que empece a pensar en realizar mi TFG pero tras pensar en diversas temáticas al final opté por la de la nutrición y el bienestar de las personas.
        </p>
    </div>
</div>